<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper-header">
          <p class="title">
            TASK LIST
          </p>
        </div>
      </div>

      <div class="col-md-12">
        <form class="form">
          <div class="wrapper-form-group">
            <input type="text" name="title" required>
              <button class="btn-learn-more ">
                Add Task
              </button>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="wrapper">
          <table class="task-table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="wrapper-button">Edit</button>
                    <button class="wrapper-button">Delete</button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>